@page "/authentication/sign-up"

@using BlazorChat.Client.Models.Authentication
@using BlazorChat.Client.Services;
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@inject HttpClient Http
@inject NavigationManager NavManager
@inject AuthenticationStateProvider AuthState

<PageTitle>SignUp</PageTitle>

<EditForm EditContext="@EditContext" OnValidSubmit="@HandleValidSubmit" onchange="">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ValidationMessage For=@(() => ErrorMessage) />
    <br />
    <div class="form-group">
        <label for="username">Username:</label>
        <InputText DisplayName="Username" id="username" @bind-Value="Request.Username" class="form-control" onchange="" />
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <InputText DisplayName="Password" id="password" type="password" @bind-Value="Request.Password" class="form-control" />
    </div>

    <input type="submit" class="btn btn-primary" value="Sign-Up" />
</EditForm>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthTask { get; set; }
    private SignUpRequest Request = new();
    private EditContext? EditContext;
    private ValidationMessageStore? MessageStore;
    private FieldIdentifier ErrorMessage;
    private ClaimsPrincipal? User;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthTask;
        User = authState.User;
        EditContext = new(Request);
        EditContext.OnValidationRequested += HandleValidationRequested;
        EditContext.OnFieldChanged += HandleFieldChanged;
        MessageStore = new(EditContext);
    }

    private void HandleValidationRequested(object? sender,
        ValidationRequestedEventArgs args)
    {
        MessageStore?.Clear();
    }

    private async Task HandleValidSubmit()
    {
        MessageStore?.Clear();
        var response = await Http.PostAsJsonAsync("/sign-up", Request);

        if (!response.IsSuccessStatusCode)
        {
            MessageStore?.Add(() => ErrorMessage, "Username already exists!");
        }
        else
        {
            var authState = await ((CustomAuthenticationStateProvider)AuthState).ChangeUser(Request.Username);
            User = authState.User;
            NavManager.NavigateTo("/");
        }
    }

    private void HandleFieldChanged(object? sender,
        FieldChangedEventArgs args)
    {
        MessageStore?.Clear();
    }

    public void Dispose()
    {
        if (EditContext is not null)
        {
            EditContext.OnValidationRequested -= HandleValidationRequested;
            EditContext.OnFieldChanged -= HandleFieldChanged;
        }
    }
}
