@implements IDisposable

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorChat</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="chats/create">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create New Chat
                    </NavLink>
                </div>
                @foreach (var chat in ChatHub.ChatRooms)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="@("chats/" + chat.Id)">
                            <span class="oi oi-chat" aria-hidden="true"></span>
                            <div style="width: 100%;">
                                @chat.Name
                            </div>
                            <div style="color: palevioletred;" hidden="@(chat.UnreadMessages == 0)">@chat.UnreadMessages</div>
                        </NavLink>
                    </div>
                }
            </nav>
        </div>
    </Authorized>
</AuthorizeView>
